@use "../commons/var" as v;
@use "../commons/_mixins.scss" as mixins;

.calendar {
    position: fixed;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    outline: 5px solid #FFB91433;
    right: 18px;
    bottom: 40px;
    font-size: 16px;
    @include mixins.flex-center;
    gap: 6px;
    border: 0;
    padding: 0;
    padding-right: 1px;
    cursor: pointer;
    background-color: var(--yellow);
    background-image: url(../img/icons/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: v.$ui-index-3;
    @include mixins.desktop {
        right: 65px;
        bottom: 80px;
        transform: initial;
        width: 53px;
        height: 53px;
        background-size: 26px;
    }
    @include mixins.desktop-big {
        right: 135px;
    }
}
