@use "../commons/_mixins.scss" as mixins;
@use "../commons/_var.scss" as v;

.recipes {
    &-list {
        padding: 56px 0;
        @include mixins.desktop {
            padding: 80px 0; 
        }
    }
    &__inner {
        @include mixins.tablet-big {
            display: grid;
            grid-template-columns: 230px 1fr;
            gap: 0 48px;
        }
        @include mixins.desktop-big {
            gap: 0 160px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        @include mixins.tablet-big {
            font-size: 40px;
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: 6px;
        }
    }
    &__filters {
        margin-top: 20px;
        @include mixins.tablet-big {
            margin-top: 0;
            grid-column: 1/2;
            grid-row: 1/3;
        }
    }
    &__filter {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
    &__filter-name {
        color: var(--yellow);
        font-size: 20px;
        font-weight: 600;
        @include mixins.flex-center;
        gap: 10px;
        @include mixins.tablet-big {
            gap: 25px;
            font-size: 24px;
        }
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            @include mixins.svg-mask('plus');
            background-color: currentColor;
        }
        &.active::before {
            @include mixins.svg-mask('minus');
        }
    }
    &__filter-list {
        display: none;
        &.active {
            margin-top: 8px;
            @include mixins.flex-column;
            gap: 12px;
            @include mixins.tablet-big {
                margin-top: 24px;
            }
        }
    }
    &__filter-item {
        & input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked + label {
                color: var(--yellow);
                &::before {
                    @include mixins.svg-bg('check');
                }
            }
        }
        & label {
            color: #1E1E1E80;
            @include mixins.flex-center;
            gap: 10px;
            @include mixins.tablet-big {
                font-size: 24px;
                gap: 12px;
            }
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid currentColor;
            }
        }
    }
    &__items {
        margin-top: 20px;
        @include mixins.flex-column;
        gap: 20px;
        @include mixins.tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @include mixins.tablet-big {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        @include mixins.desktop {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include mixins.desktop-big {
            gap: 0 24px;
        }
    }
    &__item {
        border: 1px solid #1E1E1E4D;
        border-radius: 16px;
        overflow: hidden;
        padding-bottom: 25px;
        @include mixins.tablet-big {
            padding-bottom: 18px;
        }
        @include mixins.desktop-big {
            &:first-child {
                grid-column: 1/3;
                grid-row: 1/3;
                & .recipes__img {
                    height: 427px;
                }
                & .recipes__name {
                    font-size: 30px;
                    padding: 15px 20px 10px;
                }
                & .recipes__date {
                    font-size: 16px;
                    padding: 0 20px 0;
                }
            }
            &:nth-child(3) {
                margin-top: 8px;
            }
            &:nth-child(n + 4) {
                margin-top: 24px;
            }
        }
    }
    &__link {
        @include mixins.tablet {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    &__name {
        padding: 10px 10px 4px;
        font-weight: 600;
        font-size: 18px;
        @include mixins.tablet {
            margin-top: auto;
        }
        @include mixins.tablet-big {
            font-size: 20px;
            padding: 20px 14px 0;
        }
    }
    &__date {
        font-size: 14px;
        color: #1E1E1E80;
        padding: 0 10px;
        @include mixins.tablet-big {
            padding: 0 14px;
        }
    }
    &__img {
        height: 178px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__pagination {
        margin-top: 40px;
        @include mixins.tablet-big {
            margin-top: 54px;
            grid-column: 2/3;
        }
    }
}